.check-div {
    border: 1px dashed black;
}
body {
    background-color: #f7f7f7;
}
header {
    position: fixed;
    width: 100%;
    height: 66px;
    z-index: 1000;
    box-shadow: 0 3px 15px rgba(0,0,0,.1);
}
.scroll-view {
    background-color: white;
    box-shadow: 0 0 5px rgba(0,0,0,.15);
    overflow: auto;
}
.image-container {
    background-position: center;
    background-size: cover;
}

.navbar {
    background-color: #fff;
}
#top-header{
    height: 66px;
}
#home {
    height: 100vh;
    min-height: 400px;
    padding-top: 66px;
}
#home h2{
    background-color: rgba(255,255,255,0.9);
    box-shadow: 0 3px 10px rgba(0,0,0,.1);
    border-radius: 5px;
}
#services .service-item a {
    color: #333;
}
#services .service-item .image-container {
    height: 150px;
    border-radius: 5px;
    margin-bottom: 0.5rem;
    position: relative;
    overflow: hidden;
}
#services .service-item .image-container .hover-screen {
    position: absolute;
    top:0;bottom: 0;
    left:0;right: 0;
    background-color: rgba(30,30,30,.6);
    opacity: 0;
    transition: 150ms;
}
#services .service-item .image-container .hover-screen p{
    color: #fff;
    position: absolute;
    top:0;bottom: 0;
    left:0;right: 0;
    margin: auto;
    height: 20px;
    text-align: center;
}
#services .service-item:hover a {
    color: #367;

}
#services .service-item:hover .image-container .hover-screen {
    opacity: 1;
}



@media (min-width: 768px) {
    .navbar {
        background-color: rgba(255,255,255,0.9);
    }
}