@import "fonts.css";

@black: #4A4A4A;
@lightblack: #5E5E5E;
@darkblue: #586D76;
@blackblue: #1C252E;
@lightblue: #019AD6;

body{
    font-family: 'GillSans';
}
h1{
    font-weight: normal;
    font-size: 30px;
    line-height: 28px;
    margin: 20px 0px 25px;
}
h2{
    font-family: 'Avenir Next';
    font-size: 24px;
    font-weight: 500;
    line-height: 33px;
    letter-spacing: -1px;
    margin: 0;
}
p{
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: @lightblack;
}
p.subtitle{
    font-family: 'Avenir Next';
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
}

.left{
    display: block;
    float: left;
}
.right{
    display: block;
    float: right;
}
.middle{
    display: block;
    margin: 0 auto;
}
.underline-dashed{
    border-bottom: 1px dashed @lightblack;
}
a{
    color: inherit;
    text-transform: inherit;
}
.black{
    color: @black;
}
.lightblack{
    color: @lightblack;
}
.darkblue{
    color: @darkblue;
}
.lightblue{
    color: @lightblue;
}
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
text-left{
    text-align: left;
}
section{
    display: block;
    position: relative;
    padding: 30px 0px;
    background: white;
    &.gray{
        background-color: #F7F7F7;
    }
    &.lightblue{
        background-color: @lightblue;
    }
}

.dottedBorder(@color: #8f8f8f, @dash: 5, @gap: 1, @size: 1) {
    background-image: linear-gradient(to right, black (@dash/(@dash+@gap))*100%, rgba(255,255,255,0) 0%);
    background-position: bottom;
    background-size: @dash+@gap @size;
    background-repeat: repeat-x;
}


