@import "lib.less";
body{
    max-width: 1920px;
    margin: 0 auto;
    background-size: 1024px;
    background-repeat: no-repeat;
    background-position: top;
}
@height: 60px;
header{
    position: relative;
    z-index: 100;
    .header-container{
        position: relative;
        display: block;
        height: @height;
        max-width: 1024px;
        margin: auto;
        .header-logo{
            width: 373px;
            text-align: center;
            line-height: @height;
            height: 100%;
            float: left;
            img{
                margin: 7px 0px 0px 16px;
            }
        }
        .header-form{
            float: left;
            @form_x: 281px;
            @form_y: 37px;
            line-height: @height;
            form{
                width: @form_x;
                height: @form_y;
                position: relative;
                margin: 12px 115px 0 0;
                float: left;
                
                input{
                    display: block;
                    appearance: none;
                    width: @form_x;
                    height: @form_y;
                    padding: 5px @form_y 5px 12px;
                    position: absolute;
                    left: 0;
                    border: 1px solid #B9B9B9;
                    border-radius: 5px;
                    line-height: 14px;
                    font-size: 14px;
                    outline: none;
                    &::placeholder{
                        color: #C7C7C7;
                    }
                }
                button{
                    display: block;
                    appearance: none;
                    width: @form_y;
                    height: @form_y;
                    position: absolute;
                    right: 0;
                    background: @lightblue;
                    border: none;
                    border-bottom-right-radius: 5px;
                    border-top-right-radius: 5px;
                    background-image: url(../img/lupe.png);
                    background-size: 16px 16px;
                    background-position: center;
                    background-repeat: no-repeat;
                }
            }
            
            .phone{
                position: relative;
                display: block;
                float: left;
                font-family: 'AvenirNext';
                font-weight: 600;
                color: @lightblack;
                img{
                    margin-right: 10px;
                }
            }
            
        }
        &:after{
            display: block;
            content: "";
            clear: both;
        }
    }
    navbar{
        @navheight: 37px;
        display: block;
        line-height: @navheight;
        font-family: 'Raleway';
        font-weight: 400;
        font-size: 12px;
        text-align: center;
        background: @lightblue;
        color: white;
        nav{
            display: inline-block;
            height: @navheight;
            padding: 0px 19px;
            letter-spacing: 0.092em;
            cursor: pointer;
            position: relative;
            &.dropper{
                &:after{
                    background-image: url(../img/dropper_down.png);
                    display: inline-block;
                    position: absolute;
                    right: 5;
                    width: 11px;
                    height: 11px;
                    top: 3;
                    bottom: 0;
                    content: "";
                    margin: auto;
                    background-size: contain;
                    background-repeat: no-repeat;
                }
            }
            .dropdown-container{
                display: none;
                position: absolute;
                white-space: nowrap;
                background: @blackblue;
                left: 0;
                .dropdown-element{
                    text-decoration: none;
                    display: block;
                    text-align: left;
                    width: 179px;
                    padding: 0px 19px;
                    &:hover{
                        color: @lightblue;       
                    }
                }
                .dropdown-category{
                    text-decoration: none;
                    width: 73px;
                    box-sizing: content-box;
                    padding: 15px 18px;
                    vertical-align: top;
                    font-family: "AvenirNext";
                    font-weight: 400;
                    font-size: 9.6px;
                    line-height: 9.6px;
                    text-align: center;
                    display: inline-block;
                    white-space: normal;
                    letter-spacing: 0;
                    img{
                        height: 43px;
                        margin: 0 auto 10px;
                        &:nth-child(1){
                            display: block;
                        }
                        &:nth-child(2){
                            display: none;
                        }
                    }
                    &:hover{
                        color: @lightblue;
                        img{
                            &:nth-child(1){
                                display: none;
                            }
                            &:nth-child(2){
                                display: block;
                            }
                        }
                    }
                }
                &:after{
                    content: "";
                    clear: both;
                    display: block;
                }
            }
            &:hover{
                background: @blackblue;
                &:after{
                   background-image: url(../img/dropper_up.png); 
                }
                .dropdown-container{
                    display: block;
                }
            }
        }
    }
}
#slider{
    overflow: hidden;
    padding: 0;
    @media (max-width: 1024px){
        height: 373px;    
    }
    @media (min-width: 1025px) and (max-width: 1440px){
        height: 444px;
    }
    @media (min-width: 1441px){
        height: 444px;
        .slider-image{
            width: 100%;
            img{
                width: 100%;
                height: auto !important;
            }
        }
    }
    .slide-container{
        height: 100%;
        position: relative;
        display: inline-block;
        white-space: normal;
        overflow: hidden;
        width: 100%;
        .slide-image{
            position: absolute;
            height: 100%;
            left: 50%;
            img{
                position: relative;
                left: -50%;
                height: 100%;
            }
            &:after{
                z-index: 0;
                position: absolute;
                width: 100%;
                left: -50%;
                height: 150px;
                display: block;
                content: "";
                background-image: linear-gradient(rgba(38, 58, 72, 0), rgba(38, 58, 72, 0.7));
                pointer-events: none;
                bottom: 0;
            }
        }
        .slide-text{
            position: absolute;
            right: 50%;
            width: 388px;
        }
        h2{
            color: #4A4A4A;
        }
        p{
            color: #5E5E5E;
        }
        button{
            position: absolute;
            left: 0;
            right: 0;
            width: 135px;
            margin: auto;
            bottom: 86px;
        }
    }
    .slides-wrapper{
        white-space: nowrap;
        position: relative;
        left: -100%;
        font-size: 0;
        .transition(250ms);
    }
    .slider-controller{
        position: relative;
        bottom: 0;
        .to-left, .to-right{
            bottom: 86;
            z-index: 10;
        }
    }
    .slider-circles{
        z-index: 10;
        text-align: center;
        position: relative;
        bottom: 58;
        circle.active{
            border-color: @lightblue;
            background: @lightblue;
        }
    }
    &:hover{
        .to-left, .to-right{
            opacity: 0.75;
        }
    }
}
#catalog{
    p.subtitle{
        width: 429px;
    }
    item{
        display: inline-block;
        width: 130px;
        padding: 15px 10px 0px;
        font-family: "AvenirNext";
        vertical-align: top;
        img{
            height: 71.5px;
        }
        p{
            display: inline-block;
            line-height: 16px;
            margin: 20 0 0;
        }
    }
    .dottedBorder();
}
#sponsors{
    h2{
        width: 632px;
    }
    items{
        display: block;
        width:  870px;
        margin: auto;
        item{
            &:before{
                content: " ";
                display: inline-block;
            }
            line-height: 55px;
            float: left;
            display: block;
            width: 33.33%;
            padding: 30px 0px 0px;
        }
        &:after{
            content: "";
            display: block;
            clear: both;
        }
    }
    p{
        font-size: 18px;
        font-family: "AvenirNext-Medium";
        margin: 26px 0px 0px;
        color: @lightblack;
    }
}
#hits{
    .item-window{
        position: relative;
        margin: 20px auto 22px;
        display: block;
        width: 532px;
        overflow: hidden;
    }
    items{
        position: relative;
        display: block;
        white-space: nowrap;
        font-size: 0;
        left: 0;
        .transition(250ms);
        item{
            position: relative;
            display: inline-block;
            white-space: normal;
            width: 100%;
            background-position: 0% 50%;
            background-size: auto 100%;
            background-repeat: no-repeat;
            padding-left: 205px;
            padding-top: 41px; 
            overflow: hidden;
            .item-text{
                width: 328px;
                button{
                    float: right;
                }
                p{
                    font-size: 14px;
                    width: 268px;
                    line-height: 16px;
                    margin-bottom: 5px;
                }
                h1{
                    font-size: 30px;
                    line-height: 28px;
                    margin: 0px 0px 18px;
                }
                &:after{
                    content: "";
                    display: block;
                    clear: both;
                }
            }
        }
        &:after{
            content: "";
            display: block;
            clear: both;
        }
    }
    .nav-circles{
        text-align: center;
        cursor: default;
        line-height: 12px;
        margin-bottom: 8px;
        circle{
            cursor: pointer;
        }
    }
    .slider-controller{
        top: 0;
        bottom: 0;
        height: 0;
        margin: auto;
        width: 100%;
        position: absolute;
    }
}
#video{
    color: @darkblue;
    .section-container{
        width: 867px;
        margin: auto;
        &:after{
            content: "";
            display: block;
            clear: both;
        }
    }
    .video-text{
        padding: 35px;
        p{
            margin-top: 38px;
            width: 327px;
        }
    }
    .dottedBorder();
}
#feedback{
    padding-top: 19px;
    h2{
        margin-top: 0;
        margin-bottom: 0px;
    }
    p{
        margin-top: -4px;
        width: 394px;
    }
    form{
        width: 359px;
        margin-top: 27px;
        button{
            margin-top: 31px;
            margin-bottom: 3px;
        }
    }
    .dottedBorder();
}
#clients{
    .clients-list{
        width: 649px;
        font-size: 0px;
        .client-logo{
            display: inline-block;
            width: 20%;
            height: 50px;
            text-align: center;
            margin: 20px 0px 0px;
        }
    }
    padding-bottom: 17px; 
}
footer{
    background: @blackblue;
    color: white;
    position: relative;
    vertical-align: bottom;
    padding: 20px 0px 10px;
    .footer-container{
        width: 924px;
        position: relative;
        p{
            font-family: 'AvenirNext';
            font-size: 12px;
            letter-spacing: -1px;
            font-weight: 400;
            line-height: 13px;
            margin-top: 3px;
            .line{
                white-space: pre;
                display: block;
            }
        }
        .footer-shortcuts{
            height: 82px;
            display: inline-block;
            line-height: 82px;
            vertical-align: middle;
            text-align: right;
            img{
                margin-left: 8px;
            }
            
        }
        .footer-copyright{
            position: absolute;
            left: 0;
            bottom: 0;
        }
        &:after{
            content: "";
            display: block;
            clear: both;
        }
    }
    &:after{
        content: "";
        display: block;
        clear: both;
    }
}