@import "lib.less";
body{
    height: 2456px;
    max-width: 1920px;
    margin: 0 auto;
    background-size: 1024px;
    background-repeat: no-repeat;
    background-position: top;
}
@height: 60px;
header{
    position: relative;
    z-index: 100;
    .header-container{
        position: relative;
        display: block;
        height: @height;
        max-width: 1024px;
        margin: auto;
        .header-logo{
            width: 373px;
            text-align: center;
            line-height: @height;
            height: 100%;
            float: left;
            img{
                margin: 7px 0px 0px 16px;
            }
        }
        .header-form{
            float: left;
            @form_x: 281px;
            @form_y: 37px;
            line-height: @height;
            form{
                width: @form_x;
                height: @form_y;
                position: relative;
                margin: 12px 115px 0 0;
                float: left;
                
                input{
                    display: block;
                    appearance: none;
                    width: @form_x;
                    height: @form_y;
                    padding: 5px @form_y 5px 12px;
                    position: absolute;
                    left: 0;
                    border: 1px solid #B9B9B9;
                    border-radius: 5px;
                    line-height: 14px;
                    font-size: 14px;
                    outline: none;
                }
                button{
                    display: block;
                    appearance: none;
                    width: @form_y;
                    height: @form_y;
                    position: absolute;
                    right: 0;
                    background: @lightblue;
                    border: none;
                    border-bottom-right-radius: 5px;
                    border-top-right-radius: 5px;
                    background-image: url(../img/lupe.png);
                    background-size: 16px 16px;
                    background-position: center;
                    background-repeat: no-repeat;
                }
            }
            
            .phone{
                position: relative;
                display: block;
                float: left;
                font-family: 'Avenir Next';
                font-weight: 600;
                color: @lightblack;
                img{
                    margin-right: 10px;
                }
            }
            
        }
        &:after{
            display: block;
            content: "";
            clear: both;
        }
    }
    navbar{
        @navheight: 37px;
        display: block;
        line-height: @navheight;
        font-family: 'Raleway';
        font-weight: 400;
        font-size: 12px;
        text-align: center;
        background: @lightblue;
        color: white;
        nav{
            display: inline-block;
            height: @navheight;
            padding: 0px 19px;
            letter-spacing: 0.092em;
            cursor: pointer;
            position: relative;
            &.dropper{
                &:after{
                    background-image: url(../img/dropper_down.png);
                    display: inline-block;
                    position: absolute;
                    right: 5;
                    width: 11px;
                    height: 11px;
                    top: 3;
                    bottom: 0;
                    content: "";
                    margin: auto;
                    background-size: contain;
                    background-repeat: no-repeat;
                }
            }
            .dropdown-container{
                display: none;
                position: absolute;
                white-space: nowrap;
                background: @blackblue;
                left: 0;
                .dropdown-element{
                    text-decoration: none;
                    display: block;
                    text-align: left;
                    width: 179px;
                    padding: 0px 19px;
                    &:hover{
                        color: @lightblue;       
                    }
                }
                .dropdown-category{
                    text-decoration: none;
                    width: 73px;
                    box-sizing: content-box;
                    padding: 15px 18px;
                    vertical-align: top;
                    font-family: "Avenir Next";
                    font-weight: 400;
                    font-size: 9.6px;
                    line-height: 9.6px;
                    text-align: center;
                    display: inline-block;
                    white-space: normal;
                    letter-spacing: 0;
                    img{
                        height: 43px;
                        margin: 0 auto 10px;
                        &:nth-child(1){
                            display: block;
                        }
                        &:nth-child(2){
                            display: none;
                        }
                    }
                    &:hover{
                        color: @lightblue;
                        img{
                            &:nth-child(1){
                                display: none;
                            }
                            &:nth-child(2){
                                display: block;
                            }
                        }
                    }
                }
                &:after{
                    content: "";
                    clear: both;
                    display: block;
                }
            }
            &:hover{
                background: @blackblue;
                &:after{
                   background-image: url(../img/dropper_up.png); 
                }
                .dropdown-container{
                    display: block;
                }
            }
        }
    }
}
#slider{
    overflow: hidden;
    padding: 0;
    @media (max-width: 1024px){
        height: 373px;    
    }
    @media (min-width: 1025px) and (max-width: 1440px){
        height: 444px;
    }
    @media (min-width: 1441px){
        height: 444px;
        .slider-image{
            width: 100%;
            img{
                width: 100%;
                height: auto !important;
            }
        }
    }
    .slider-container{
        height: 100%;
        position: relative;
        .slider-image{
            position: absolute;
            height: 100%;
            left: 50%;
            img{
                position: relative;
                left: -50%;
                height: 100%;
            }
        }
        .slider-text{
            position: absolute;
            right: 50%;
            width: 388px;
        }
    }
}
#catalog{
    p.subtitle{
        width: 429px;
    }
    item{
        display: inline-block;
        width: 130px;
        padding: 15px 10px 0px;
        font-family: "Avenir Next";
        vertical-align: top;
        img{
            height: 71.5px;
        }
        p{
            display: inline-block;
            line-height: 16px;
            margin: 20 0 0;
        }
    }
    .dottedBorder();
}
#sponsors{
    h2{
        width: 632px;
    }
    items{
        display: block;
        width:  870px;
        margin: auto;
        item{
            &:before{
                content: " ";
                display: inline-block;
            }
            line-height: 55px;
            float: left;
            display: block;
            width: 33.33%;
            padding: 30px 0px 0px;
        }
        &:after{
            content: "";
            display: block;
            clear: both;
        }
    }
    p{
        font-size: 18px;
        font-family: "Avenir Next";
        margin: 26px 0px 0px;
    }
}
#hits{
    .item-window{
        position: relative;
        margin: 20px auto 22px;
        display: block;
        width: 532px;
        overflow: hidden;
    }
    items{
        position: relative;
        display: block;
        white-space: nowrap;
        font-size: 0;
        item{
            position: relative;
            display: inline-block;
            white-space: normal;
            width: 100%;
            background-position: 0% 50%;
            background-size: auto 100%;
            background-repeat: no-repeat;
            padding-left: 205px;
            padding-top: 41px; 
            .item-text{
                width: 328px;
                button{
                    float: right;
                }
                p{
                    font-size: 14px;
                    width: 268px;
                    line-height: 16px;
                    margin-bottom: 5px;
                }
                h1{
                    font-size: 30px;
                    line-height: 28px;
                    margin: 0px 0px 18px;
                }
                &:after{
                    content: "";
                    display: block;
                    clear: both;
                }
            }
        }
        &:after{
            content: "";
            display: block;
            clear: both;
        }
    }
    .nav-circles{
        text-align: center;
        cursor: default;
        line-height: 12px;
        margin-bottom: 8px;
        circle{
            cursor: pointer;
        }
    }
}
#video{
    color: @darkblue;
    .section-container{
        width: 867px;
        margin: auto;
        &:after{
            content: "";
            display: block;
            clear: both;
        }
    }
    .video-text{
        padding: 35px;
        p{
            margin-top: 38px;
            width: 327px;
        }
    }
    .dottedBorder();
}
#feedback{
    padding-top: 19px;
    h2{
        margin-top: 0;
        margin-bottom: 0px;
    }
    p{
        margin-top: -4px;
        width: 394px;
    }
    form{
        width: 359px;
        margin-top: 27px;
        button{
            margin-top: 31px;
            margin-bottom: 3px;
        }
    }
    .dottedBorder();
}
#clients{
    .clients-list{
        text-align: justify;
        width: 591px;
        img{
            margin: 0px 50px;
        }
    }
}