#main {
  height: 725px;
  background-image: url("../images/bg.jpg");
  background-size: auto 725px;
  background-position-x: center;
  position: relative;
}
#main-text {
  padding: 9em 0px;
}
#door-container {
  position: absolute;
  left: 50%;
  width: 1px;
  bottom: 527px;
  margin-left: 290px;
}
#door-image {
  width: 190px;
  position: absolute;
}
#door-shadow {
  width: 361px;
  position: absolute;
  top: -50px;
  left: -80px;
}
#door-information {
  position: absolute;
  width: 198px;
  left: -198px;
  top: 70px;
  color: #fff;
  font-size: 21px;
}
#door-information p {
  font-weight: bold;
  margin-bottom: 10px;
}
#door-information .underline {
  width: 100%;
  height: 3px;
  background-color: #fff;
  margin-bottom: 10px;
}
#door-information .square {
  border: 2px solid #fff;
  width: 24px;
  height: 24px;
  float: left;
  margin-right: 8px;
  text-align: center;
  line-height: 18px;
  cursor: pointer;
  -webkit-transition: 200ms;
  -moz-transition: 200ms;
  -ms-transition: 200ms;
  -o-transition: 200ms;
  transition: 200ms;
  color: #fff;
}
#door-information .square:hover {
  color: #000;
  background-color: #fff;
}
#door-information .square i {
  display: inline-block;
  margin-top: -5px;
}
#door-information .door-type {
  color: #f7ddad;
}
#door-number {
  margin-left: 12px;
  float: left;
  font-weight: normal;
  line-height: 24px;
}
#history {
  margin-top: -100px;
}
#icons {
  padding: 60px 0px;
}
#icons img {
  vertical-align: bottom;
}
#icons .icon-container {
  display: inline-block;
  height: 30px;
  vertical-align: bottom;
}
#catalog {
  background-image: url("../images/texture.jpg");
  color: #fff;
  padding: 60px 0px;
  -webkit-box-shadow: inset 0 -60px 30px -30px #fff;
  -moz-box-shadow: inset 0 -60px 30px -30px #fff;
  box-shadow: inset 0 -60px 30px -30px #fff;
  text-shadow: 0px 1px 5px rgba(0,0,0,0.5);
}
#catalog .door-container {
  cursor: pointer;
  padding: 0px 5px;
  height: 350px;
  width: 12.5%;
}
#catalog .door-container .door-image {
  height: 274px;
  width: 115px;
  overflow: hidden;
  vertical-align: top;
  -webkit-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.2);
  -webkit-transition: 170ms;
  -moz-transition: 170ms;
  -ms-transition: 170ms;
  -o-transition: 170ms;
  transition: 170ms;
}
#catalog .door-container .door-image img {
  vertical-align: bottom;
  width: 100%;
}
#catalog .door-container:hover .door-image {
  height: 285px;
  width: 120px;
  margin-top: -11px;
  margin-bottom: 0px;
  -webkit-box-shadow: 0px 2px 15px 8px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 2px 15px 8px rgba(0,0,0,0.2);
  box-shadow: 0px 2px 15px 8px rgba(0,0,0,0.2);
}
#catalog:after {
  display: block;
  content: "";
  width: 100%;
  height: 60px;
}
#dop-tovary {
  margin-top: -60px;
}
#dop-tovary .image-container {
  width: 110px;
  height: 72px;
  -webkit-box-shadow: inset 0 0 9px 1px rgba(0,0,0,0.07);
  -moz-box-shadow: inset 0 0 9px 1px rgba(0,0,0,0.07);
  box-shadow: inset 0 0 9px 1px rgba(0,0,0,0.07);
}
#workers {
  margin-top: 130px;
}
#workers .container {
  position: relative;
}
#workers .arrows {
  position: absolute;
  top: 0;
  bottom: 60px;
  right: 50px;
  left: 50px;
  height: 40px;
  margin: auto;
  font-size: 40px;
}
#workers .arrows i {
  cursor: pointer;
  opacity: 0.5;
}
#workers .arrows i:hover {
  opacity: 0.8;
}
.circles {
  color: #e1e1e1;
  margin: 40px 0px;
}
.circles i {
  margin: 0px 5px;
  font-size: 10px;
  cursor: pointer;
}
.circles i:hover {
  color: #bfbfbf;
}
.circles i.active {
  color: #b88d5a;
}
#information {
  background-image: url("../images/bgblur.jpg");
  background-size: cover;
  background-position: center;
  -webkit-box-shadow: inset 0 -60px 30px -30px #fff, inset 0 60px 30px -30px #fff;
  -moz-box-shadow: inset 0 -60px 30px -30px #fff, inset 0 60px 30px -30px #fff;
  box-shadow: inset 0 -60px 30px -30px #fff, inset 0 60px 30px -30px #fff;
}
#information .map-container {
  margin-bottom: -5px;
}
#information .contacts {
  overflow: auto;
  background-color: #676666;
}
#information .contacts p.bordered {
  border: 2px solid #505050;
}
#information .contacts p.bordered a {
  color: #fff;
}
#information .contacts p.bordered a:hover {
  color: #ddd;
  text-decoration: none;
}
#news .item {
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.11);
  -moz-box-shadow: 0 0 5px rgba(0,0,0,0.11);
  box-shadow: 0 0 5px rgba(0,0,0,0.11);
  -webkit-transition: all 150ms;
  -moz-transition: all 150ms;
  -ms-transition: all 150ms;
  -o-transition: all 150ms;
  transition: all 150ms;
  padding: 7px 7px 41px 7px;
  position: relative;
  cursor: default;
}
#news .item:hover {
  margin-top: -5px;
  -webkit-box-shadow: 0 5px 9px rgba(0,0,0,0.09);
  -moz-box-shadow: 0 5px 9px rgba(0,0,0,0.09);
  box-shadow: 0 5px 9px rgba(0,0,0,0.09);
}
#news .item .image-container {
  position: relative;
}
#news .item .arrow {
  position: absolute;
  bottom: 18px;
  right: 18px;
  height: 12px;
}
#news .item .arrow img {
  height: 12px;
  opacity: 0.4;
}
#news .item .arrow:hover img {
  opacity: 0.6;
}
#news .item .calendar {
  position: absolute;
  background-color: #fff;
  top: 10px;
  right: 10px;
  width: 44px;
  height: 54px;
  padding: 5px;
}
#news .item .calendar span {
  display: block;
  font-weight: bold;
  text-align: center;
}
#news .item .calendar span.month {
  color: #000;
  font-size: 12px;
}
#news .item .calendar span.day {
  color: #b88d5a;
  font-size: 19px;
}
