#main
  height 725px
  background-image url("../images/bg.jpg")
  background-size auto 725px
  background-position-x center
  position: relative;

#main-text
  padding 9em 0px

#door-container
  position: absolute;
  left: 50%;
  width: 1px;
  bottom: 527px;
  margin-left: 290px;

#door-image
  width 190px
  position: absolute;

#door-shadow
  width: 361px;
  position: absolute;
  top: -50px;
  left: -80px;

#door-information
  position: absolute;
  width: 198px;
  left: -198px;
  top: 70px;
  color: white;
  font-size 21px
  p
    font-weight bold;
    margin-bottom 10px
  .underline
    width: 100%;
    height: 3px;
    background-color: white;
    margin-bottom: 10px;
  .square {
    border 2px solid white;
    width 24px
    height 24px
    float: left
    margin-right 8px
    text-align center
    line-height 18px
    cursor: pointer
    -webkit-transition: 200ms
    -moz-transition: 200ms
    -ms-transition: 200ms
    -o-transition: 200ms
    transition: 200ms
    color white
    &:hover {
      color black
      background-color white
    }
    i {
      display: inline-block
      margin-top -5px;
    }
  }
  .door-type {
    color #F7DDAD
  }

#door-number
  margin-left 12px
  float: left
  font-weight:normal
  line-height: 24px

#history
  margin-top -100px;

#icons
  padding 60px 0px
  img
    vertical-align bottom
  .icon-container
    display inline-block
    height 30px
    vertical-align bottom

#catalog
  background-image url(../images/texture.jpg)
  color white
  padding 60px 0px
  -webkit-box-shadow: inset 0 -60px 30px -30px #fff;
  -moz-box-shadow: inset 0 -60px 30px -30px #fff;
  box-shadow: inset 0 -60px 30px -30px #fff;
  text-shadow 0px 1px 5px rgba(0,0,0,0.5);
  .door-container {
    cursor pointer
    padding 0px 5px;
    height 350px
    width 12.5%;
    .door-image{
      height: 274px;
      width 115px;
      overflow hidden;
      vertical-align top;
      -webkit-box-shadow: 0px 0px 10px 5px rgba(0,0,0,.2);
      -moz-box-shadow: 0px 0px 10px 5px rgba(0,0,0,.2);
      box-shadow: 0px 0px 10px 5px rgba(0,0,0,.2);
      -webkit-transition: 170ms;
      -moz-transition: 170ms;
      -ms-transition: 170ms;
      -o-transition: 170ms;
      transition: 170ms;
      img {
        vertical-align bottom
        width 100%
      }
    }
    &:hover {
      .door-image {
        height 285px;
        width  120px;
        margin-top -11px;
        margin-bottom 0px;
        -webkit-box-shadow: 0px 2px 15px 8px rgba(0,0,0,.2);
        -moz-box-shadow: 0px 2px 15px 8px rgba(0,0,0,.2);
        box-shadow: 0px 2px 15px 8px rgba(0,0,0,.2);
      }
    }
  }
  &:after {
    display: block
    content ""
    width 100%
    height 60px;
  }

#dop-tovary
  margin-top -60px
  .image-container
    width 110px
    height 72px
    -webkit-box-shadow: inset 0 0 9px 1px rgba(0,0,0,.07);
    -moz-box-shadow: inset 0 0 9px 1px rgba(0,0,0,.07);
    box-shadow: inset 0 0 9px 1px rgba(0,0,0,.07);

#workers
  margin-top 130px
  .container
    position: relative;
  .arrows
    position: absolute;
    top: 0;
    bottom 0;
    right 50px;
    left 50px;
    height 40px;
    margin auto;
    font-size 40px;
    i
      cursor: pointer;
      opacity .5;
      &:hover
        opacity: .8;

.circles
  color #e1e1e1;
  margin 40px 0px
  i
    margin 0px 5px
    font-size 10px
    cursor: pointer
  i:hover
    color #e1e1e1-#222;
  i.active
    color #b88d5a;
