#top-header {
  background-color: #000;
  color: #fff;
  height: 31px;
  padding: 8px 0px;
  position: relative;
}
#top-header .text-right {
  cursor: default;
}
#top-header p {
  font-size: 10px;
  display: inline-block;
  margin: 0px 10px;
}
#top-header p i:before {
  font-size: 14px;
  color: #bfbfbf;
}
#top-header p i:hover:before {
  color: #fff;
}
#top-header a {
  color: #fff;
}
#top-header .vertical-line {
  vertical-align: top;
  margin-top: -8px;
  width: 1px;
  height: 31px;
  border-left: 1px solid #555;
  display: inline-block;
}
#main {
  height: 725px;
  background-image: url("../images/bg.jpg");
  background-size: cover;
  background-position-x: center;
}
#main-text {
  padding: 9em 0px;
}
