@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/Lato-Regular.ttf);
}
@font-face {
    font-family: 'Lato';
    font-style: bold;
    font-weight: 700;
    src: url(../fonts/Lato-Bold.ttf);
}
