body {
  background: #fff;
  font-family: 'Lato';
  font-size: 12px;
}
section {
  position: relative;
}
.upper {
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}
h1 {
  font-size: 31px;
}
h2 {
  font-size: 26px;
}
h3 {
  font-size: 21px;
}
h4 {
  font-size: 20px;
}
h5 {
  font-size: 17px;
}
h5.smaller {
  font-size: 14px;
}
h6 {
  font-size: 10.5px;
}
header {
  top: 0;
}
nav {
  font-size: 12px;
  background-color: #000;
}
nav .navbar-toggler {
  border: none;
  background: #b88d5a;
  border-radius: 0px;
  padding: 0.5rem 0.75rem;
  color: #fff;
  cursor: pointer;
}
nav .navbar-toggler:hover {
  background: #966b38;
}
nav a.nav-link {
  color: #fff;
  position: relative;
  text-shadow: 0px 2px 5px rgba(0,0,0,0.62);
}
nav a.nav-link:hover {
  color: #fafaef;
}
nav a.nav-link.active {
  color: #ffb44f;
}
nav a.nav-link.active:before,
nav a.nav-link:hover:before {
  max-width: 100%;
}
#navbar-brand img {
  margin-top: 15px;
}
p {
  line-height: 1;
}
p.big {
  font-size: 21px;
}
p.small {
  font-size: 11px;
}
p.smaller {
  font-size: 10px;
}
.container {
  overflow: hidden;
  position: relative;
}
.btn {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  border: none;
  font-size: 13px;
  cursor: pointer;
  padding: 10px 15px;
}
.btn.big {
  font-size: 13px;
  padding: 14px 64px;
}
.btn.small {
  font-size: 11px;
  padding: 0;
  line-height: 22px;
  width: 110px;
  height: 22px;
}
.btn.long {
  font-size: 11px;
  padding: 0px;
  width: 300px;
  height: 33px;
  line-height: 33px;
}
.btn-primary {
  background-color: #b88d5a;
  color: #fff;
}
.btn-primary:hover {
  background-color: #966b38;
}
.btn-secondary {
  background-color: #eeecea;
  color: #434343;
}
.btn-secondary:hover {
  color: #434343;
  background-color: #cccac8;
}
#top-header {
  background-color: #000;
  color: #fff;
  height: 31px;
  padding: 8px 0px;
  position: relative;
}
#top-header .text-right {
  cursor: default;
}
#top-header p {
  font-size: 10px;
  display: inline-block;
  margin: 0px 10px;
}
#top-header p i:before {
  font-size: 14px;
  color: #bfbfbf;
}
#top-header p i:hover:before {
  color: #fff;
}
#top-header a {
  color: #fff;
}
#top-header .vertical-line {
  vertical-align: top;
  margin-top: -8px;
  width: 1px;
  height: 31px;
  border-left: 1px solid #555;
  display: inline-block;
}
.box {
  background-color: #fff;
  box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.17);
  padding: 10px;
  position: relative;
}
.box .box-arrow {
  position: absolute;
  right: 45px;
  bottom: 30px;
  cursor: pointer;
  opacity: 0.39;
  width: 23px;
}
.box .box-arrow:hover {
  opacity: 0.6;
}
.image-container {
  position: relative;
  background-size: cover;
  background-position: center;
}
.cursive {
  font-family: 'Lobster';
}
.indent::before {
  content: "";
  display: inline;
  margin-right: 5px;
}
.gap {
  display: block;
  height: 5px;
}
.gray {
  color: #434343;
}
.grey {
  color: #898989;
}
.white {
  color: #fff;
}
.flex-110 {
  -ms-flex: 0 0 110px;
  flex: 0 0 110px;
  max-width: 110px;
}
.w-320 {
  width: 320px;
}
.h-310 {
  height: 310px;
}
.w-250 {
  width: 250px;
}
.w-185 {
  width: 185px;
}
.h-148 {
  height: 148px;
}
.horizontal-line {
  display: block;
}
.input-group {
  display: block;
  border: none;
  border-bottom: 1px solid #ebebeb;
  padding: 10px;
  outline: none;
  -webkit-transition: all 150ms;
  -moz-transition: all 150ms;
  -ms-transition: all 150ms;
  -o-transition: all 150ms;
  transition: all 150ms;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.input-group:focus {
  border-color: #b88d5a;
}
.input-group.untouched {
  color: #aaa;
}
select.input-group {
  background-image: url("../images/down.png");
  background-size: 10px;
  background-repeat: no-repeat;
  background-position: right 10px center;
}
select.input-group:focus {
  background-image: url("../images/up.png");
}
.bg-shadow {
  background-color: rgba(0,0,0,0.4);
}
footer {
  background-color: #000;
}
footer a {
  color: #fff;
}
footer a:hover {
  color: #ddd;
}
footer form {
  margin: 15px 0px;
}
footer input {
  width: 200px;
  height: 28px;
  background-color: #1b1b1b;
  margin: 0;
  padding: 0px 5px;
  color: #fff;
  outline: none;
}
footer input:placeholder {
  color: #fefefe;
}
footer button.btn.btn-primary {
  width: 80px;
  height: 28px;
  padding: 0;
  line-height: 28px;
  margin: -1px 0px 0px -3px;
}
.door-slider-out-left {
  animation: fadeout-left 150ms ease-out;
  animation-fill-mode: both;
}
.door-slider-in-left {
  animation: fadein-left 150ms ease-in;
  animation-fill-mode: both;
}
.door-slider-out-right {
  animation: fadeout-right 150ms ease-out;
  animation-fill-mode: both;
}
.door-slider-in-right {
  animation: fadein-right 150ms ease-in;
  animation-fill-mode: both;
}
@media (min-width: 768px) {
  footer input {
    width: 189px;
  }
}
@media (min-width: 992px) {
  nav {
    background-color: transparent;
    padding: 0px !important;
  }
  nav .navbar-nav {
    margin-top: -5px;
  }
  nav a.nav-link.active {
    color: #fff;
  }
  nav a.nav-link:before {
    height: 3px;
    max-width: 0%;
    background-color: #ffb44f;
    content: "";
    position: absolute;
    top: 0px;
    left: 20px;
    right: 20px;
    margin: auto;
    -webkit-transition: 200ms;
    -moz-transition: 200ms;
    -ms-transition: 200ms;
    -o-transition: 200ms;
    transition: 200ms;
  }
  footer input {
    width: 250px;
  }
}
@-moz-keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeout-left {
  0% {
    opacity: 1;
    margin-left: 0px;
  }
  100% {
    opacity: 0;
    margin-left: -50px;
  }
}
@-webkit-keyframes fadeout-left {
  0% {
    opacity: 1;
    margin-left: 0px;
  }
  100% {
    opacity: 0;
    margin-left: -50px;
  }
}
@-o-keyframes fadeout-left {
  0% {
    opacity: 1;
    margin-left: 0px;
  }
  100% {
    opacity: 0;
    margin-left: -50px;
  }
}
@keyframes fadeout-left {
  0% {
    opacity: 1;
    margin-left: 0px;
  }
  100% {
    opacity: 0;
    margin-left: -50px;
  }
}
@-moz-keyframes fadein-left {
  0% {
    opacity: 0;
    margin-left: 50px;
  }
  100% {
    opacity: 1;
    margin-left: 0px;
  }
}
@-webkit-keyframes fadein-left {
  0% {
    opacity: 0;
    margin-left: 50px;
  }
  100% {
    opacity: 1;
    margin-left: 0px;
  }
}
@-o-keyframes fadein-left {
  0% {
    opacity: 0;
    margin-left: 50px;
  }
  100% {
    opacity: 1;
    margin-left: 0px;
  }
}
@keyframes fadein-left {
  0% {
    opacity: 0;
    margin-left: 50px;
  }
  100% {
    opacity: 1;
    margin-left: 0px;
  }
}
@-moz-keyframes fadeout-right {
  0% {
    opacity: 1;
    margin-left: 0px;
  }
  100% {
    opacity: 0;
    margin-left: 50px;
  }
}
@-webkit-keyframes fadeout-right {
  0% {
    opacity: 1;
    margin-left: 0px;
  }
  100% {
    opacity: 0;
    margin-left: 50px;
  }
}
@-o-keyframes fadeout-right {
  0% {
    opacity: 1;
    margin-left: 0px;
  }
  100% {
    opacity: 0;
    margin-left: 50px;
  }
}
@keyframes fadeout-right {
  0% {
    opacity: 1;
    margin-left: 0px;
  }
  100% {
    opacity: 0;
    margin-left: 50px;
  }
}
@-moz-keyframes fadein-right {
  0% {
    opacity: 0;
    margin-left: -50px;
  }
  100% {
    opacity: 1;
    margin-left: 0px;
  }
}
@-webkit-keyframes fadein-right {
  0% {
    opacity: 0;
    margin-left: -50px;
  }
  100% {
    opacity: 1;
    margin-left: 0px;
  }
}
@-o-keyframes fadein-right {
  0% {
    opacity: 0;
    margin-left: -50px;
  }
  100% {
    opacity: 1;
    margin-left: 0px;
  }
}
@keyframes fadein-right {
  0% {
    opacity: 0;
    margin-left: -50px;
  }
  100% {
    opacity: 1;
    margin-left: 0px;
  }
}
@-moz-keyframes background-left {
  0% {
    background-position-x: 50%;
  }
  100% {
    background-position-x: 85%;
  }
}
@-webkit-keyframes background-left {
  0% {
    background-position-x: 50%;
  }
  100% {
    background-position-x: 85%;
  }
}
@-o-keyframes background-left {
  0% {
    background-position-x: 50%;
  }
  100% {
    background-position-x: 85%;
  }
}
@keyframes background-left {
  0% {
    background-position-x: 50%;
  }
  100% {
    background-position-x: 85%;
  }
}
