body 
    background white
    font-family 'Lato'
    font-size 12px

section
    position: relative

.upper
    text-transform uppercase;
    letter-spacing 0.05rem

h1, h2, h3, h4, h5, h6
    font-weight bold;

h1
    font-size: 31px;

h2
    font-size 26px;

h3
    font-size 21px;

h4
    font-size 20px;

h5
    font-size: 17px;
h5.smaller
    font-size: 14px;

h6
    font-size 10.5px;

header, #top-header {
    position: fixed;
    width 100%;
    z-index 100;
    transition 150ms 150ms;
    &.hidden {
        top: -100px;
    }
}


nav
    font-size: 12px;
    background-color black;
    .navbar-toggler {
        border: none;
        background: #b88d5a;
        border-radius: 0px;
        padding: 0.5rem 0.75rem;
        color: #fff;
        cursor: pointer;
        &:hover {
            background: #b88d5a - #222;
        }
    }
    a.nav-link
        color white
        position: relative;
        text-shadow: 0px 2px 5px rgba(0,0,0,0.62)
        &:hover
            color white - #050510;
        &.active {
            color: #FFB44F;
        }
        &.active:before, &:hover:before
            max-width 100%

#navbar-brand img
    margin-top 15px

p
    line-height 1;
p.big
    font-size 21px;
p.small
    font-size 11px;
p.smaller
    font-size 10px;

.container {
    overflow: hidden;
    position: relative;
}

.btn
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    border none;
    font-size 13px
    cursor: pointer;
    padding: 10px 15px;
    &.big
        font-size 13px
        padding: 14px 64px;
    &.small
        font-size: 11px
        padding 0;
        line-height 22px;
        width 110px;
        height 22px;
    &.long
        font-size 11px;
        padding 0px;
        width 300px;
        height 33px;
        line-height 33px;


.btn-primary
    background-color #b88d5a;
    color white
    &:hover {
        background-color #b88d5a - #222;
    }
&.btn-secondary
    background-color #eeecea;
    color #434343
    &:hover {
        color #434343
        background-color #eeecea - #222;
    }

header {
    top 31px;
}
#top-header
    background-color #000
    color white
    height 31px
    padding 8px 0px
    top:0;
    .text-right
        cursor default
    p
        font-size 10px
        display inline-block
        margin 0px 10px
        i:before
            font-size 14px
            color #bfbfbf
        i:hover:before
            color: #fff;
    a
        color: white
    .vertical-line
        vertical-align: top
        margin-top: -8px
        width 1px
        height 31px
        border-left 1px solid #555
        display inline-block

.box
    background-color white
    box-shadow 0px 3px 15px 0px rgba(0,0,0,.17)
    padding 10px
    position relative
    .box-arrow {
        position: absolute;
        right 45px
        bottom 30px
        cursor pointer
        opacity: .39
        width: 23px
        &:hover {
            opacity .6
        }
    }

.image-container
    position relative;
    background-size cover
    background-position center



.cursive {
    font-family 'Lobster';
}

.indent::before {
    content ""
    display inline
    margin-right 5px
}

.gap {
    display block
    height 5px;
}

.gray {
    color #434343;
}

.grey {
    color #898989;
}
.white {
    color white
}

.flex-110 {
    -ms-flex 0 0 110px
    flex 0 0 110px
    max-width 110px
}

.w-320 {
    width 320px
}
.h-310 {
    height 310px
}
.w-250 {
    width 250px
}
.w-185 {
    width 185px
}
.h-148 {
    height 148px
}
.horizontal-line {
    display block
}

.input-group {
    display block
    border none;
    border-bottom 1px solid #ebebeb;
    padding 10px
    outline none;
    -webkit-transition: all 150ms;
    -moz-transition: all 150ms;
    -ms-transition: all 150ms;
    -o-transition: all 150ms;
    transition: all 150ms;
    -webkit-border-radius: 0px;
    -moz-border-radius:0px;
    border-radius:0px;
    -webkit-appearance: none
    -moz-appearance: none
    appearance: none
    &:focus {
        border-color #b88d5a;
    }
    &.untouched {
        color: #aaa;
    }
}

select.input-group {
    background-image url(../images/down.png);
    background-size 10px;
    background-repeat no-repeat;
    background-position right 10px center;
    &:focus {
        background-image url(../images/up.png);
    }
}

.bg-shadow {
    background-color rgba(0,0,0,.4);
}

footer
    background-color #000;
    a
        color white
    a:hover
        color white - #222;
    form
        margin 15px 0px;
    input
        width 200px;
        height 28px;
        background-color #1b1b1b;
        margin 0;
        padding 0px 5px;
        color white
        outline: none
        &:placeholder {
            color #fefefe;
        }
    button.btn.btn-primary {
        width 80px;
        height 28px;
        padding 0 ;
        line-height 28px;
        margin: -1px 0px 0px -3px;
    }




@keyframes fadeout {
    0%{opacity: 1}
    100%{opacity: 0}
}
@keyframes fadein {
    0%{opacity: 0}
    100%{opacity: 1}
}
@keyframes fadeout-left {
    0%{
        opacity: 1;
        margin-left: 0px;
    }
    100%{
        opacity: 0;
        margin-left: -50px;
    }
}
@keyframes fadein-left {
    0%{
        opacity: 0;
        margin-left: 50px;
    }
    100%{
        opacity: 1;
        margin-left: 0px;
    }
}
@keyframes fadeout-right {
    0%{
        opacity: 1;
        margin-left: 0px;
    }
    100%{
        opacity: 0;
        margin-left: 50px;
    }
}
@keyframes fadein-right {
    0%{
        opacity: 0;
        margin-left: -50px;
    }
    100%{
        opacity: 1;
        margin-left: 0px;
    }
}
@keyframes background-left {
    0% {
        background-position-x: 50%;
    }
    100% {
        background-position-x: 85%;
    }

}


.door-slider-out-left {
    animation fadeout-left 150ms ease-out;
    animation-fill-mode: both;
}
.door-slider-in-left {
    animation fadein-left 150ms ease-in;
    animation-fill-mode: both;
}
.door-slider-out-right {
    animation fadeout-right 150ms ease-out;
    animation-fill-mode: both;
}
.door-slider-in-right {
    animation fadein-right 150ms ease-in;
    animation-fill-mode: both;
}


@media (min-width: 576px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    footer input {
        width 189px;
    }

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    header, #top-header {
        position static;
    }
    nav {
        background-color transparent;
        padding 0px !important;
        .navbar-nav {
            margin-top -5px;
        }
        a.nav-link.active {
            color: white
        }
        a.nav-link:before {
            height 3px
            max-width 0%
            background-color #FFB44F
            content ""
            position absolute
            top 0px
            left 20px
            right 20px
            margin auto
            trans_time = 200ms;
            -webkit-transition: trans_time
            -moz-transition: trans_time
            -ms-transition: trans_time
            -o-transition: trans_time
            transition: trans_time
        }
    }
    footer input {
        width 250px;
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}