header
  z-index 20;
#main
  background-image url(../images/bgblur.jpg);
  background-position center;
  background-size cover;
  z-index 10;
  .bg-shadow
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

#places
  p
    line-height 1.1rem
    margin-bottom 8px;
  a
    color #000;