#reviews
  .review{
    position: relative;
  }
  .round {
    //content ""
    //display: block
    //position: absolute
    height 13px
    width 13px
    margin-top 6px
    background-color #b7b4b4
    border-radius 50%
    //top: 1rem
    //left 20px
  }
  .date
    font-size 14px

.input-group, .btn
  font-size 16px