[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-checkmark:before {
  content: "\ea11";
}
.icon-spinner:before {
  content: "\e980";
}
.icon-Logo:before {
  content: "\e900";
}
.icon-consulting:before {
  content: "\e901";
}
.icon-Diagnostic:before {
  content: "\e902";
}
.icon-Fix:before {
  content: "\e903";
}
.icon-happy:before {
  content: "\e904";
}
.icon-marker:before {
  content: "\e905";
}
.icon-phone:before {
  content: "\e906";
}
.icon-hamburger:before {
  content: "\e907";
}
.icon-Facebook:before {
  content: "\e908";
}
.icon-Instagram:before {
  content: "\e909";
}
.icon-VK:before {
  content: "\e90a";
}
.icon-diagnostic-loop:before {
  content: "\e90b";
}
.icon-suspension:before {
  content: "\e90c";
}
.icon-road:before {
  content: "\e90d";
}
.icon-break:before {
  content: "\e90e";
}
.icon-battery:before {
  content: "\e90f";
}
.icon-Oil:before {
  content: "\e910";
}
.icon-wash:before {
  content: "\e911";
}
.icon-cogs:before {
  content: "\e912";
}
.icon-transmission:before {
  content: "\e913";
}
.icon-engine:before {
  content: "\e914";
}
.icon-tire:before {
  content: "\e915";
}
.icon-shine:before {
  content: "\e916";
}
.icon-safehouse:before {
  content: "\e917";
}
.icon-professional:before {
  content: "\e918";
}
.icon-keys:before {
  content: "\e919";
}
