.icomoon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-vk-social-logotype:before {
  content: "\e900";
}
.icon-vk-social-logotype2:before {
  content: "\1f322";
}
.icon-home3:before {
  content: "\e902";
}
.icon-pencil:before {
  content: "\e905";
}
.icon-pencil2:before {
  content: "\e906";
}
.icon-droplet:before {
  content: "\e90b";
}
.icon-image:before {
  content: "\e90d";
}
.icon-images:before {
  content: "\e90e";
}
.icon-camera:before {
  content: "\e90f";
}
.icon-connection:before {
  content: "\e91b";
}
.icon-books:before {
  content: "\e920";
}
.icon-stack:before {
  content: "\e92e";
}
.icon-price-tag:before {
  content: "\e935";
}
.icon-cart:before {
  content: "\e93a";
}
.icon-coin-dollar:before {
  content: "\e93b";
}
.icon-location:before {
  content: "\e947";
}
.icon-compass:before {
  content: "\e949";
}
.icon-clock:before {
  content: "\e94e";
}
.icon-clock2:before {
  content: "\e94f";
}
.icon-forward:before {
  content: "\e969";
}
.icon-reply:before {
  content: "\e96a";
}
.icon-bubble:before {
  content: "\e96b";
}
.icon-spinner:before {
  content: "\e97a";
}
.icon-spinner2:before {
  content: "\e97b";
}
.icon-spinner3:before {
  content: "\e97c";
}
.icon-spinner7:before {
  content: "\e980";
}
.icon-spinner9:before {
  content: "\e982";
}
.icon-key:before {
  content: "\e98d";
}
.icon-cog:before {
  content: "\e994";
}
.icon-pie-chart:before {
  content: "\e99a";
}
.icon-stats-dots:before {
  content: "\e99b";
}
.icon-trophy:before {
  content: "\e99e";
}
.icon-mug:before {
  content: "\e9a2";
}
.icon-bin:before {
  content: "\e9ac";
}
.icon-bin2:before {
  content: "\e9ad";
}
.icon-bookmark:before {
  content: "\e9d2";
}
.icon-plus:before {
  content: "\ea0a";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-checkmark:before {
  content: "\ea10";
}
.icon-checkmark2:before {
  content: "\ea11";
}
.icon-circle-up:before {
  content: "\ea41";
}
.icon-circle-right:before {
  content: "\ea42";
}
.icon-embed:before {
  content: "\ea7f";
}
.icon-embed2:before {
  content: "\ea80";
}
.icon-google-drive:before {
  content: "\ea8f";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-whatsapp:before {
  content: "\ea93";
}
.icon-spotify:before {
  content: "\ea94";
}
.icon-telegram:before {
  content: "\ea95";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-youtube2:before {
  content: "\ea9e";
}
.icon-behance2:before {
  content: "\eaa9";
}
.icon-appleinc:before {
  content: "\eabe";
}
.icon-android:before {
  content: "\eac0";
}
.icon-windows8:before {
  content: "\eac2";
}
.icon-chrome:before {
  content: "\ead9";
}
.icon-firefox:before {
  content: "\eada";
}
.icon-IE:before {
  content: "\eadb";
}
.icon-arrow-right:before {
  content: "\e946";
}
.icon-instagram-old:before {
  content: "\e948";
}
.icon-speaker:before {
  content: "\e94a";
}
.icon-smartphone:before {
  content: "\e94b";
}
.icon-docs:before {
  content: "\e94c";
}
.icon-question:before {
  content: "\e94d";
}
.icon-calendar-month:before {
  content: "\e950";
}
.icon-calendar:before {
  content: "\e951";
}
.icon-clock3:before {
  content: "\e952";
}
.icon-smartphone2:before {
  content: "\e953";
}
.icon-monitor:before {
  content: "\e954";
}
.icon-triangle-left:before {
  content: "\e955";
}
.icon-triangle-up:before {
  content: "\e901";
}
.icon-triangle-down:before {
  content: "\e956";
}
.icon-triangle-right:before {
  content: "\e903";
}
.icon-keyboard-arrow-down:before {
  content: "\e957";
}
.icon-keyboard-arrow-up:before {
  content: "\e958";
}
.icon-lupe:before {
  content: "\e959";
}
.icon-vector-pen:before {
  content: "\e95a";
}
.icon-computer:before {
  content: "\e95b";
}
.icon-circles:before {
  content: "\e95c";
}
.icon-globe:before {
  content: "\e95d";
}
.icon-cloud:before {
  content: "\e95e";
}
.icon-person:before {
  content: "\e95f";
}
.icon-mood:before {
  content: "\e960";
}
.icon-call:before {
  content: "\e961";
}
